DATABASE_USERNAME=sa
DATABASE_PASSWORD=PizzaIsGood33!
RTR_SERVICE_USER_NAME=rtr_service_user
RTR_SERVICE_USER_PASSWORD=rtr_service_user
DB_URL_RDB="jdbc:sqlserver://localhost:3433;databaseName=RDB_MODERN;encrypt=true;trustServerCertificate=true;loginTimeout=3;"
DB_URL_ODSE="jdbc:sqlserver://localhost:3433;databaseName=NBS_ODSE;encrypt=true;trustServerCertificate=true;loginTimeout=3;"
