spring:
  kafka:
    input:
      topic-name: nbs_state_defined_field_data
    output:
      topic-name-reporting: nrt_ldf_data
    dlq:
      retry-suffix: _retry
      dlq-suffix: _dlt

    group-id: ${KAFKA_CONSUMER_APP:ldfdata-reporting-consumer-app}
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVER:localhost:9092}
    consumer:
      max-retry: 3
      maxPollIntervalMs: 30000
      maxPollRecs: ${KAFKA_CONSUMER_MAX_POLL_RECS:200}
    admin:
      auto-create: true
  application:
    name: ldfdata-reporting-service
  datasource:
    password: ${DB_PASSWORD:-PizzaIsGood33!}
    username: ${DB_USERNAME:-sa}
    url: ${DB_HOST:jdbc:sqlserver://localhost:1433;databaseName=:RDB_MODERN;encrypt=true;trustServerCertificate=true;}
  liquibase:
    change-log: db/changelog/db.changelog-master.yaml
featureFlag:
  thread-pool-size: ${FF_THREAD_POOL_SIZE:1}
server:
  port: "8097"

management:
  endpoint:
    prometheus:
      access: read_only
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  prometheus:
    metrics:
      export:
        enabled: true
